In [2]:
import pandas as pd
data = pd.read_csv("TT BA Uzb.xlsx - data.csv")
data

     region_id  SalesDate  PackageID  Sum-Quantity  Summa-бел руб
0            1  15-Mar-15          5      6.818182   1.728098e+05
1            1  15-Mar-15          5      6.909091   1.749850e+05
2            1  15-Mar-15          5     23.372727   5.984068e+05
3            1  15-Mar-15          5      3.000000   7.661652e+04
4            2  15-Mar-15          5      6.000000   1.467144e+05
..         ...        ...        ...           ...            ...
613          9  15-Mar-15         19     15.000000   6.100500e+05
614          9  15-Mar-15         29      2.000000   1.427630e+05
615         10  15-Mar-15         29      1.000000   1.184930e+05
616          8  15-Mar-15         29      9.000000   8.147340e+05
617          9  15-Mar-15         29     13.000000   1.183156e+06

[618 rows x 5 columns]

In [4]:
brendName = pd.read_csv("TT BA Uzb.xlsx - products.csv")
brendName

,PackageID,brend,brend_eng,Drug,form,weight,number,Drug_eng,form_eng,supplier_1,...,type,type_eng,LF1,LF1_eng,form_fda_ru,form_fda_eng,usage_ru,usage_eng,Location,Location_eng
0,5,5-НОК,5-NOK,5-НОК,таблетки покрытые оболочкой 50мг N50,50.00,50,5-NOK,Tablets covered 50mg N50,Лек д.д.,...,ЛС,Drug,таблетки,TABLETS,Таблетки покрытые оболочкой,"Tablet, coated",Орально,Oral,Импортные,import
1,18,L-ТИРОКСИН,L-Thyroxin,L-ТИРОКСИН,таблетки 50мкг N50,0.05,50,L-Thyroxin,Tablets 50mkg N50,Берлин-Хеми/Менарини груп,...,ЛС,Drug,таблетки,TABLETS,Таблетки,Tablet,Орально,Oral,Импортные,import
2,19,L-ТИРОКСИН,L-Thyroxin,L-ТИРОКСИН,таблетки 100мкг N100,0.10,100,L-Thyroxin,Tablets 100mkg N100,Берлин-Хеми/Менарини груп,...,ЛС,Drug,таблетки,TABLETS,Таблетки,Tablet,Орально,Oral,Импортные,import
3,29,АБАКТАЛ,Abaktal,АБАКТАЛ,раствор для инъекций 400мг 5мл N10,400.00,10,Abaktal,Solution for injection 400mg 5ml N10,Лек д.д.,...,ЛС,Drug,раствор,Solution,Раствор для инъекций,"Injection, solution",Парентерально,Parenteral,Импортные,import

In [5]:
#df.drop(['new'], axis=1,inplace=True)
#df_new = df. iloc[:, [0,1,3]]
df_new = brendName.iloc[:, [0,2,9]]
df_new

   PackageID   brend_eng                 supplier_1
0          5       5-NOK                   Лек д.д.
1         18  L-Thyroxin  Берлин-Хеми/Менарини груп
2         19  L-Thyroxin  Берлин-Хеми/Менарини груп
3         29     Abaktal                   Лек д.д.

In [10]:
new_data = data.merge(df_new, how="right")
new_data

,region_id,SalesDate,PackageID,Sum-Quantity,Summa-бел руб,brend_eng,supplier_1
0,1,15-Mar-15,5,6.818182,1.728098e+05,5-NOK,Лек д.д.
1,1,15-Mar-15,5,6.909091,1.749850e+05,5-NOK,Лек д.д.
2,1,15-Mar-15,5,23.372727,5.984068e+05,5-NOK,Лек д.д.
3,1,15-Mar-15,5,3.000000,7.661652e+04,5-NOK,Лек д.д.
4,2,15-Mar-15,5,6.000000,1.467144e+05,5-NOK,Лек д.д.
...,...,...,...,...,...,...,...
613,9,15-Mar-15,19,15.000000,6.100500e+05,L-Thyroxin,Берлин-Хеми/Менарини груп
614,9,15-Mar-15,29,2.000000,1.427630e+05,Abaktal,Лек д.д.
615,10,15-Mar-15,29,1.000000,1.184930e+05,Abaktal,Лек д.д.
616,8,15-Mar-15,29,9.000000,8.147340e+05,Abaktal,Лек д.д.
617,9,15-Mar-15,29,13.000000,1.183156e+06,Abaktal,Лек д.д.

In [12]:
regions = pd.read_csv("TT BA Uzb.xlsx - regions.csv")
regions

    region_id      region
0           1    Алма-Ата
1           2      Актобе
2           3  Нур-Султан
3           4     Шымкент
4           5   Караганда
5           6       Тараз
6           7    Павлодар
7           8       Семей
8           9      Атырау
9          10    Костанай
10         11   Кызылорда
11         12     Уральск

In [13]:
finalData = new_data.merge(regions, how="right")
finalData

,region_id,SalesDate,PackageID,Sum-Quantity,Summa-бел руб,brend_eng,supplier_1,region
0,1,15-Mar-15,5,6.818182,1.728098e+05,5-NOK,Лек д.д.,Алма-Ата
1,1,15-Mar-15,5,6.909091,1.749850e+05,5-NOK,Лек д.д.,Алма-Ата
2,1,15-Mar-15,5,23.372727,5.984068e+05,5-NOK,Лек д.д.,Алма-Ата
3,1,15-Mar-15,5,3.000000,7.661652e+04,5-NOK,Лек д.д.,Алма-Ата
4,1,15-Mar-15,5,13.000000,3.739098e+05,5-NOK,Лек д.д.,Алма-Ата
...,...,...,...,...,...,...,...,...
613,12,15-Mar-15,19,3.000000,1.306642e+05,L-Thyroxin,Берлин-Хеми/Менарини груп,Уральск
614,12,15-Mar-15,19,8.000000,3.484380e+05,L-Thyroxin,Берлин-Хеми/Менарини груп,Уральск
615,12,15-Mar-15,19,16.000000,6.968760e+05,L-Thyroxin,Берлин-Хеми/Менарини груп,Уральск
616,12,15-Mar-15,19,15.000000,6.070950e+05,L-Thyroxin,Берлин-Хеми/Менарини груп,Уральск
617,12,15-Mar-15,19,37.000000,1.497501e+06,L-Thyroxin,Берлин-Хеми/Менарини груп,Уральск

#Название бренда
#Корпорация
#Регион
#дата
#год
#месяц
#Объём продаж в упаковках
#Объём продаж в деньгах, с присвоенным форматом миллионы
#df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)

In [ ]:
#here i already removed the region_id column

finalData.drop(['PackageID'],axis=1,inplace=True)

In [27]:
finalData

,SalesDate,Sum-Quantity,Summa-бел руб,brend_eng,supplier_1,region
0,15-Mar-15,6.818182,1.728098e+05,5-NOK,Лек д.д.,Алма-Ата
1,15-Mar-15,6.909091,1.749850e+05,5-NOK,Лек д.д.,Алма-Ата
2,15-Mar-15,23.372727,5.984068e+05,5-NOK,Лек д.д.,Алма-Ата
3,15-Mar-15,3.000000,7.661652e+04,5-NOK,Лек д.д.,Алма-Ата
4,15-Mar-15,13.000000,3.739098e+05,5-NOK,Лек д.д.,Алма-Ата
...,...,...,...,...,...,...
613,15-Mar-15,3.000000,1.306642e+05,L-Thyroxin,Берлин-Хеми/Менарини груп,Уральск
614,15-Mar-15,8.000000,3.484380e+05,L-Thyroxin,Берлин-Хеми/Менарини груп,Уральск
615,15-Mar-15,16.000000,6.968760e+05,L-Thyroxin,Берлин-Хеми/Менарини груп,Уральск
616,15-Mar-15,15.000000,6.070950e+05,L-Thyroxin,Берлин-Хеми/Менарини груп,Уральск
617,15-Mar-15,37.000000,1.497501e+06,L-Thyroxin,Берлин-Хеми/Менарини груп,Уральск

In [30]:
import matplotlib.pyplot as plt

In [42]:
finalData

Empty DataFrame
Columns: []
Index: [(5-NOK, Лек д.д., Алма-Ата, 15-Mar-15, 6.818181818, 172809.76), (5-NOK, Лек д.д., Алма-Ата, 15-Mar-15, 6.909090909, 174984.9519), (5-NOK, Лек д.д., Алма-Ата, 15-Mar-15, 23.37272727, 598406.8248), (5-NOK, Лек д.д., Алма-Ата, 15-Mar-15, 3.0, 76616.51634), (5-NOK, Лек д.д., Алма-Ата, 15-Mar-15, 13.0, 373909.8235), (5-NOK, Лек д.д., Алма-Ата, 15-Mar-15, 3.0, 86286.88235), (5-NOK, Лек д.д., Алма-Ата, 15-Mar-15, 17.9, 514845.0647), (5-NOK, Лек д.д., Алма-Ата, 15-Mar-15, 4.0, 115049.1765), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 21.81818182, 525697.9926), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 5.409090909, 129523.1288), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 34.27272727, 827411.7451), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 3.0, 72300.89412), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 38.0, 927579.5957), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 20.0, 488199.7872), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 76.0, 1855159.191), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 31.5, 768914.6649), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 24.54545455, 1009873.182), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 2.772727273, 114083.4508), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 27.43181818, 1128581.937), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 6.0, 247022.4615), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 34.0, 1397384.417), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 5.0, 205497.7083), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 37.25, 1530957.927), (L-Thyroxin, Берлин-Хеми/Менарини груп, Алма-Ата, 15-Mar-15, 22.0, 904189.9167), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 6.0, 146714.417), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 1.428571429, 40430.47619), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 0.8571428571, 24258.28571), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 0.4285714286, 12129.14286), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 9.285714286, 268914.4286), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 7.0, 198430.7963), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 18.0, 479572.5855), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 2.0, 58457.875), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 246.0, 7475796.583), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 4.0, 117282.8889), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 3.0, 87962.16667), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 2.0, 58641.44444), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 21.0, 615735.1667), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 49.0, 1460874.204), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 50.0, 1469433.051), (5-NOK, Лек д.д., Актобе, 15-Mar-15, 7.0, 206800.125), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 16.0, 381706.1266), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 2.428571429, 56168.53968), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 0.8571428571, 19824.19048), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 2.428571429, 56168.53968), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 3.285714286, 75992.73016), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 88.0, 2108910.542), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 5.0, 114626.6216), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 6.0, 138836.0909), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 392.0, 9487853.873), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 40.0, 968200.0), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 5.0, 121025.0), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 30.0, 726150.0), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 63.0, 1524915.0), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 252.0, 6096656.458), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 35.0, 846853.3784), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 107.0, 2589438.909), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 7.0, 267501.0237), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 2.214285714, 111169.5429), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 2.428571429, 103895.8571), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 0.2142857143, 10758.34286), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 3.142857143, 148773.0143), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 29.0, 1184797.209), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 5.0, 201460.3548), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 1.0, 40948.6), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 294.0, 12042834.98), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 10.0, 411895.8571), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 21.0, 864981.3), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 36.0, 1482825.086), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 94.0, 3834381.791), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 27.0, 1104997.645), (L-Thyroxin, Берлин-Хеми/Менарини груп, Актобе, 15-Mar-15, 19.0, 778023.4), (5-NOK, Лек д.д., Нур-Султан, 15-Mar-15, 5.0, 141006.2596), (5-NOK, Лек д.д., Нур-Султан, 15-Mar-15, 1.0, 29758.98684), (5-NOK, Лек д.д., Нур-Султан, 15-Mar-15, 7.0, 200524.2333), (5-NOK, Лек д.д., Нур-Султан, 15-Mar-15, 29.0, 835750.2572), (5-NOK, Лек д.д., Нур-Султан, 15-Mar-15, 7.0, 208312.9079), (5-NOK, Лек д.д., Нур-Султан, 15-Mar-15, 6.0, 178553.9211), (5-NOK, Лек д.д., Нур-Султан, 15-Mar-15, 18.0, 535661.7632), (5-NOK, Лек д.д., Нур-Султан, 15-Mar-15, 25.0, 743974.6711), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 3.0, 82630.69231), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 5.5, 145050.3389), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 3.0, 72971.79688), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 13.5, 350910.5086), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 55.5, 1432078.853), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 15.0, 364858.9844), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 20.0, 486478.6458), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 20.0, 486478.6458), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 55.0, 1337816.276), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 40.5, 985119.2578), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 5.0, 257252.2222), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 1.0, 48790.62135), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 1.0, 40811.15207), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 1.0, 51450.44444), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 12.75, 544280.5968), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 3.0, 122433.4562), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 35.0, 1428390.323), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 20.0, 816223.0415), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 47.0, 1918124.147), (L-Thyroxin, Берлин-Хеми/Менарини груп, Нур-Султан, 15-Mar-15, 100.25, 4091317.995), (5-NOK, Лек д.д., Шымкент, 15-Mar-15, 26.0, 768584.5775), ...]

[618 rows x 0 columns]